$font-play: Pixelify Sans;

/* Global */
*::before, *::after {
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Hidden */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    // max-width: 1140px;
    width: 100vw;
    position: absolute;
    top: 0;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 100px;
    height: 100vh;
    width: 100vw;

}
.btn {
    font-size: 30px;
}

h1 {
    padding-bottom: 30px;
    // margin: 0;
    font-size: 100px;
    color: gold;
    font-family: $font-play;
}

#messages {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 40px;
    padding-top: 20px;
}
#buttons {
    display: flex;
    justify-content: space-around;
}
#buttons button {
    font-size: 20px;
}

/* Scores */
.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // margin-top: 200px;
}
.playerScore, .computerScore {
    color: white;
}

/* Intro */
div.hidden {
    opacity: 0;
    pointer-events: none;
}
div.visible {
    opacity: 1;
    pointer-events: all;
}
/* Hands */
.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.hands img {
    width: 170px;
    height: 250px;
}

@keyframes shakeHands {
    0% {
         transform: rotate(0deg);
        }
    15% {
         transform: rotate(10deg);
        }
    25% {
         transform: rotate(0deg);
        }
    35% {
         transform: rotate(-10deg);
        }
    50% {
         transform: rotate(0deg);
        }
    65% {
         transform: rotate(10deg);
        }
    75% {
         transform: rotate(0deg);
        }
    85% {
         transform: rotate(-10deg);
        }
    100% {
         transform: rotate(0deg);
        }
}